html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#messagesContainer {
    width: 100%;
    height:calc(100% - 140px);
    margin-top: 20px;
    border: 2px solid #191D32;
    border-radius: .5em;
    padding: 10px 10px;
    font-size: 14px;
    overflow: auto;
    background-color:ghostwhite;
}

#sendButton {
    height: auto;
    width: 50px;
    border-radius: .3em;
    background-color: #DD1155;
    margin-left: 1px;
    border: 0px solid rgba(0, 0, 0, 0);
    font-size: 15px;
    color: #FDFFFF;
  
}

#messageInput {
    height: 100%;
    border-radius: .5em;
    border: 0px solid rgba(0, 0, 0, 0);
    padding: 10px;
    flex: 1 1 0;
    border: 1.5px solid #DD1155;
}

#messagesList {
    list-style: none;
    width: 100%;
    
}

