@page
@model IndexModel
@{
    ViewData["Title"] = "Chat room";
}

<div class="container" id="chatContainer">
    <div class="row" id="messagesContainer">
            <ul id="messagesList"></ul>       
    </div>

    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="container">
            <div class="row">   
                <input placeholder="Type your message here"  type="text" id="messageInput" />
                <button class="send-btn" id="sendButton"><i class="fa fa-paper-plane"></i></button>
            </div>    
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/index.js"></script>